.container-f {
  height: 400px;
  overflow: scroll;
  overflow-y:none;
  verflow-x:hidden;
}

.element {
  width: 480px;
  height: 400px;
  scroll-margin: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element:nth-child(1) {
  background: #1d1e21;
}
.element:nth-child(2) {
  background: #ee6620;
}
.element:nth-child(3) {
  background: #777ba0;
}
.element:nth-child(4) {
  background: #da1e62;
}

.x-mandatory {
  scroll-snap-type: x mandatory;
}

/* Below here just styles the container & elements so they look nice */
.x-scroll .wrapper {
  width: 2000px;
}

.x-scroll .element {
  float: left;
  argin-right: 10px;
}
